.tab-bar {
  position: fixed;
  top: 10px;
  left: 30vw;
  right: 30vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  height: 28px;
}

.tab-bar > button {
  outline: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  border: 1px dashed #d9d9d9;
  cursor: pointer;
  transition: all .2s cubic-bezier(.645,.045,.355,1);
  user-select: none;
  touch-action: manipulation;
  line-height: 1.5714285714285714;
  color: rgba(0,0,0,.88);
  background-color: #fff;
  box-shadow: 0 2px 0 rgba(0,0,0,.02);
  padding: 4px 10px;
  font-size: 14px;
}

.tab-bar > button:hover {
  color: #4096ff;
  border-color: #4096ff;
}

.tip {
  position: absolute;
  width: 100vw;
  text-align: center;
  line-height: 80vh;
  user-select: none;
  opacity: .75;
}

.tip > span {
  font-size: 18px;
  color: #d9d9d9;
}

.main {
  width: 100vw;
  height: 100vh;
}

.axes {
  position: fixed;
  left: 5vw;
  bottom: 2vh;
}

.add-btn {
  position: fixed;
  right: 10vw;
  bottom: 10vh;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #1677ff;
  z-index: 999;
  opacity: .8;
}

.add-btn::before,
.add-btn::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 3px;
  top: 49%;
  left: 20%;
  background-color: #fff;
}

.add-btn::after {
  transform: rotate(90deg);
}
